.wrapper{
  box-sizing:initial;
  width: calc(50% - 30px);
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: 0.3s;
  cursor:pointer;
  outline: 2px solid rgba(0, 0, 0, 0.189);
  outline-offset: -2px;
}
.wrapper:hover{
  transform: scale(1.02);
}
.imgWrapper{
  min-height: 280px ;
}
.imgWrapper > img {
  width: 100%;  
}
.textWrapper{
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  align-self: flex-end;
  display: flex;
  place-items: center;
  padding: 13px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  transition: 0.3s;
}
.button:hover{
  background: rgb(213, 213, 213);
}

@media (max-width: 567px) {
  .wrapper{
    width: 100%;
  }
  .imgWrapper{
    min-height: initial;
  }
  .wrapper:hover{
    transform: scale(1);
  }
  .button{
    display: none;
  }
  
}