#root{
  width: 100vw;
  height: 100vh;
  /* background-color: #d9afd9; */
  /* background-image: linear-gradient(315deg, #d9afd9 0%, #97d9e1 74%); */
  background: black;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* cursor: none; */
}

canvas{
  touch-action: none;
}

a {
  pointer-events: all;
  color: white;
  text-decoration: none;
}
